<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/head.html">
    <title>TITLE</title>
</head>
<body>
<div th:include="include/header.html"></div>

    <div class="uk-container-small uk-align-center">
        <div class="uk-margin-bottom">
            <span class="uk-margin-small-right" uk-icon="icon: chevron-left; ratio: 3" onclick="backPage()" style="cursor:pointer;"></span>
        </div>
        <div class="uk-card uk-card-default">
            <div class="uk-card-header uk-text-center">
                <p class="uk-text-2_5 uk-text-bold uk-margin-large-bottom" id="title"></p>
                <div class="uk-margin-large-bottom" data-uk-grid="true">
                    <div class="uk-width-auto">
                        <img src="../../static/images/avatar.svg" width="50" height="50" class="uk-margin-small-bottom"/>
                        <span class="uk-text-1_2 uk-text-bold uk-text-right" id="writer"></span>
                    </div>
                    <div class="uk-width-expand"></div>
                    <div class="uk-width-auto">
                        <span class="uk-text-1_2 uk-text-center" id="date"></span>
                    </div>
                </div>
                <div class="uk-margin-large-top" data-uk-grid="true">
                    <div class="uk-width-expand uk-text-left">
                        <span class="uk-margin-small-right" uk-icon="icon: happy; ratio: 1.5"></span>
                        <span class="uk-text-1_2 uk-text-bold " id="positions"></span>
                    </div>
                    <div class="uk-width-auto"></div>
                </div>
            </div>
            <div class="uk-card-body">
                <span class="uk-text-1_2" id="content">
<!--                    안녕하세요! Team Expoint에서 각 분야별 다양한 모집을 진행하고 있습니다.-->

<!--                    저희는 자신이 이제껏 갈고 닦았던 실력을 바탕으로 한 번도 경험하지 못했던 경험들을 만들고-->

<!--                    많은 사람들에게 새로운 경험을 제공하기 위해 Team Expoint를 만들었습니다.-->


<!--                    팀원 모두가 다 같이 배움을 통해 성장하면서 새로운 경험을 사람들에게 제공하고 함께 더 나은 세상을 만들고 싶은 분들을 모집하고 있습니다!-->


<!--                    아래 주소를 통해 저희 팀에 진행 목표와 미래발전 방향성을 자세하게 적어놓았습니다!-->

<!--                    다함께 성장하며 세상을 바꾸는 우리 팀과 함께할 용사분이 계신다면 꼭 지원해 주시길 부탁드립니다!-->


<!--                    글 읽어주셔서 진심으로 감사합니다! 기다리고 있겠습니다!-->
                </span>
            </div>
            <div class="uk-card-footer"> <!-- PositionList -->
                <div>
                    <table class="uk-table uk-table-small uk-table-hover uk-table-divider uk-table-responsive uk-table-middle">
                        <thead class="uk-text-0_9">
                            <th class="uk-width-small">모집 포지션</th>
                            <th class="uk-width-large">설명(간단한 역할 등)</th>
                            <th class="uk-width-small">지원하기</th>
                            <th class="uk-width-large">지원자 설명</th>
                        </thead>
                        <tbody class="uk-text-0_8" id="positionList">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="uk-card-footer uk-margin-large-top"> <!-- ChatRoom -->
                <div data-uk-grid="true" class="uk-flex uk-flex-middle">
                    <div class="uk-width-2-3 uk-padding-remove-left">
                        <p class="uk-text-1_5 uk-text-center">실시간 채팅</p>
                        <p class="uk-text-0_8 uk-text-center">모임에 대해 궁금한 것들을 질문하고, 실시간으로 팀원들과 연락하세요!</p>

                        <div class="uk-height-large uk-card uk-card-default uk-card-body uk-overflow-auto">
                            <div id="msgArea" class="uk-container">

                            </div>
                        </div>

                        <div class="uk-text-center">
                            <div class="input-group mb-3">
                                <input type="text" id="msg" class="form-control">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button" id="button-send">전송</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-1-3 uk-padding-remove-left">
                        <div class="uk-text-center uk-margin-bottom">
                            <span class="uk-margin-small-right" uk-icon="icon: comments; ratio: 1.2"></span>
                            <span class="uk-text-1_2 uk-text-center">채팅 참여인원</span>
                        </div>
                        <div class="uk-height-large uk-card uk-card-default uk-card-body uk-overflow-auto">
                            <table class="uk-table uk-table-small uk-table-hover uk-table-divider uk-table-responsive">
                                <tbody class="uk-text-0_9" id="participants">
                                    <tr class="uk-text-left">
                                        <th class="uk-width-small">
                                            <span class="uk-margin-small-right" uk-icon="icon: user; ratio: 1"></span>
                                            <span class="uk-text-1_2 uk-text-center">test님</span>
                                        </th>
                                    </tr>
                                    <tr class="uk-text-left">
                                        <th class="uk-width-small">
                                            <span class="uk-margin-small-right" uk-icon="icon: user; ratio: 1"></span>
                                            <span class="uk-text-1_2 uk-text-center">test님</span>
                                        </th>
                                    </tr>
                                    <tr class="uk-text-left">
                                        <th class="uk-width-small">
                                            <span class="uk-margin-small-right" uk-icon="icon: user; ratio: 1"></span>
                                            <span class="uk-text-1_2 uk-text-center">test님</span>
                                        </th>
                                    </tr>
                                    <tr class="uk-text-left">
                                        <th class="uk-width-small">
                                            <span class="uk-margin-small-right" uk-icon="icon: user; ratio: 1"></span>
                                            <span class="uk-text-1_2 uk-text-center">test님</span>
                                        </th>
                                    </tr>
                                    <tr class="uk-text-left">
                                        <th class="uk-width-small">
                                            <span class="uk-margin-small-right" uk-icon="icon: user; ratio: 1"></span>
                                            <span class="uk-text-1_2 uk-text-center">test님</span>
                                        </th>
                                    </tr>
                                    <tr class="uk-text-left">
                                        <th class="uk-width-small">
                                            <span class="uk-margin-small-right" uk-icon="icon: user; ratio: 1"></span>
                                            <span class="uk-text-1_2 uk-text-center">test님</span>
                                        </th>
                                    </tr>
                                    <tr class="uk-text-left">
                                        <th class="uk-width-small">
                                            <span class="uk-margin-small-right" uk-icon="icon: user; ratio: 1"></span>
                                            <span class="uk-text-1_2 uk-text-center">test님</span>
                                        </th>
                                    </tr>
                                    <tr class="uk-text-left">
                                        <th class="uk-width-small">
                                            <span class="uk-margin-small-right" uk-icon="icon: user; ratio: 1"></span>
                                            <span class="uk-text-1_2 uk-text-center">test님</span>
                                        </th>
                                    </tr>
                                    <tr class="uk-text-left">
                                        <th class="uk-width-small">
                                            <span class="uk-margin-small-right" uk-icon="icon: user; ratio: 1"></span>
                                            <span class="uk-text-1_2 uk-text-center">test님</span>
                                        </th>
                                    </tr>
                                    <tr class="uk-text-left">
                                        <th class="uk-width-small">
                                            <span class="uk-margin-small-right" uk-icon="icon: user; ratio: 1"></span>
                                            <span class="uk-text-1_2 uk-text-center">test님</span>
                                        </th>
                                    </tr>
                                    <tr class="uk-text-left">
                                        <th class="uk-width-small">
                                            <span class="uk-margin-small-right" uk-icon="icon: user; ratio: 1"></span>
                                            <span class="uk-text-1_2 uk-text-center">test님</span>
                                        </th>
                                    </tr>
                                    <tr class="uk-text-left">
                                        <th class="uk-width-small">
                                            <span class="uk-margin-small-right" uk-icon="icon: user; ratio: 1"></span>
                                            <span class="uk-text-1_2 uk-text-center">test님</span>
                                        </th>
                                    </tr>
                                    <tr class="uk-text-left">
                                        <th class="uk-width-small">
                                            <span class="uk-margin-small-right" uk-icon="icon: user; ratio: 1"></span>
                                            <span class="uk-text-1_2 uk-text-center">test님</span>
                                        </th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script type="text/javascript">

    loadContentDetail();

    function loadContentDetail() {
        let detail = storage.get("contentDetail");
        let accessToken = storage.get("accessToken");
        let url = api + "/board/" + detail;
        let xhr = new XMLHttpRequest();
        xhr.open('GET', url);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.setRequestHeader('Authorization', 'Bearer ' + accessToken);
        xhr.responseType = 'json';
        xhr.send();

        xhr.onreadystatechange = function () {
            if(xhr.readyState == 4 && xhr.status == 200) {
                let data = xhr.response;

                if(data.status === 1){
                    UIkit.modal.alert("이미 모집이 완료된 게시글 입니다.").then(function () {
                        window.location.href = "/form/contentList";
                    });
                }
                console.log(data);
                appendDetail(data);
                connectSock(data);
            }
        };
    }

    /**
     * 컨텐츠 내용 append
     */
    function appendDetail(data) {
        let title = document.getElementById("title");
        let content = document.getElementById("content");
        let writer = document.getElementById("writer");
        let date = document.getElementById("date");
        let positions = document.getElementById("positions");
        let positionList = document.getElementById("positionList");


        title.innerText = data.title;
        content.innerText = data.content;
        writer.innerText = data.chatRoom.writerName;
        date.innerText = data.startdate.substr(0, 10) + " ~ " + data.enddate.substr(0, 10);
        positions.innerText = "모집 포지션 : ";
        let tbody = "";

        for (const position of data.positions) {
            positions.innerText += position.position + ", ";
            tbody += makePositionListDiv(position);
        }
        positionList.innerHTML = tbody;
    }


    /**
     * chatRoom connect
     */
    function connectSock(data){
        let roomId = data.id;
        let username = storage.get("userName");
        let stomp;
        let sockJs = new SockJS("/stomp/chat");

        //1. SockJS를 내부에 들고있는 stomp를 내어줌
        stomp = Stomp.over(sockJs);

        //2. connection이 맺어지면 실행
        stomp.connect({}, function (){
            console.log("STOMP Connection");

            //3. send(path, header, message)로 메세지를 보낼 수 있음
            stomp.send('/pub/chat/enter', {}, JSON.stringify({roomId: roomId, writer: username}))

            //4. subscribe(path, callback)으로 메세지를 받을 수 있음
            stomp.subscribe("/sub/chat/room/" + roomId, function (chat) {
                let content = JSON.parse(chat.body);
                let writer = content.writer;
                let message = content.message;
                let chatMsg = '';
                let participant = '';

                if(writer === username){
                    chatMsg = "<div class='col-lg'>";
                    chatMsg += "<div class='alert alert-secondary'>";
                    chatMsg += "<b>" + writer + " : " + message + "</b>";
                    chatMsg += "</div></div>";

                    participant = "<tr class='uk-text-left'>";
                    participant += "<th class='uk-width-small'>";
                    participant += "<span class='uk-margin-small-right' uk-icon='icon: user; ratio: 1'></span>";
                    participant += "<span class='uk-text-1_2 uk-text-center'>" + writer + "</span>";
                    participant += "</th></tr>";

                    let msgArea = document.querySelector("#msgArea");
                    let participants = document.querySelector("#participants");
                    msgArea.innerHTML = msgArea.innerHTML + chatMsg;
                    participants.innerHTML = participant;
                }
                else{
                    chatMsg = "<div class='col-lg'>";
                    chatMsg += "<div class='alert alert-warning'>";
                    chatMsg += "<b>" + writer + " : " + message + "</b>";
                    chatMsg += "</div></div>";

                    participant = "<tr class='uk-text-left'>";
                    participant += "<th class='uk-width-small'>";
                    participant += "<span class='uk-margin-small-right' uk-icon='icon: user; ratio: 1'></span>";
                    participant += "<span class='uk-text-1_2 uk-text-center'>" + writer + "</span>";
                    participant += "</th></tr>";

                    let msgArea = document.querySelector("#msgArea");
                    let participants = document.querySelector("#participants");
                    msgArea.innerHTML = msgArea.innerHTML + chatMsg;
                    participants.innerHTML = participant;
                }
            });
        });

        document.getElementById("button-send").addEventListener("click", sendMsg);
        function sendMsg() {
            let msg = document.getElementById("msg");

            console.log(username + ":" + msg.value);
            stomp.send('/pub/chat/message', {}, JSON.stringify({roomId: roomId, message: msg.value, writer: username}));
            msg.value = '';
        }
    }


    function recruitPosition(tr){
        UIkit.modal.confirm("해당 포지션에 지원하시겠습니까?", {
            labels: {
                cancel: '취소',
                ok: '확인'
            }
        }).then(function () {
            let parentNode = tr.parentNode.parentNode;
            let recruitMsg = parentNode.children[3].children[0].value;

            let accessToken = storage.get("accessToken");
            let url = api + "/board/recruit";
            let params = "positionId="+parentNode.id+"&recruitMessage="+recruitMsg;
            let xhr = new XMLHttpRequest();
            xhr.open('POST', url);
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.setRequestHeader('Authorization', 'Bearer ' + accessToken);
            xhr.responseType = 'json';
            xhr.send(params);

            xhr.onreadystatechange = function () {
                if(xhr.readyState == 4 && xhr.status == 200) {
                    UIkit.modal.alert(xhr.response.message).then(function () {
                        window.location.href = "/form/contentDetail";
                    });
                }
            };


        });
    }

    function backPage(){
        window.location.href = "/form/contentList";
    }

</script>
</html>


