<header id="top-head">
    <div class="uk-container uk-container-expand uk-margin-medium-top">
        <nav class="uk-navbar">
            <div class="uk-navbar-left uk-visible@m">
                <span uk-icon="icon: menu; ratio: 2.5" uk-toggle="target: #offcanvas-nav-primary" style="cursor:pointer;"></span>
            </div>
            <div class="uk-navbar-right uk-visible@m">
                <ul class="uk-iconnav">
                    <li class="uk-margin-small-right">
                        <a uk-tooltip="title: 홈으로; pos:bottom;" uk-icon="icon: home; ratio: 1.5" onclick="goHome()"></a>
                    </li>
                    <li>
                        <a uk-tooltip="title: 로그아웃; pos:bottom;" uk-icon="icon: sign-out; ratio: 1.5" onclick="logout()"></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div id="offcanvas-nav-primary" uk-offcanvas="overlay: true">
        <div class="uk-offcanvas-bar uk-flex uk-flex-column">
            <button class="uk-offcanvas-close" type="button" uk-close></button>
            <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical">

                <div class="uk-margin-large-bottom">
                    <!-- img src, alt -->
                    <img src="../../static/images/avatar.svg" width="70" height="70" class="uk-margin-small-bottom"/>
                    <h4 class="uk-text-center uk-margin-remove-vertical text-light" id="userName">

                    </h4>

                    <div class="uk-position-relative uk-text-center uk-display-block">
                        <span class="uk-text-small uk-text-muted uk-text-center" id="userId">

                        </span>
                    </div>
                </div>
                <li class="uk-nav-divider uk-margin-bottom uk-margin-top"></li>

                <li class="uk-nav-header uk-text-1 uk-margin-bottom">
                    MyPage 관리
                    <span uk-icon="icon: triangle-down; ratio: 0.8"></span>
                </li>
                <ul class="uk-text-center uk-margin-large-bottom">
                    <li class="uk-margin-small-bottom" style="cursor:pointer;"><a href="/form/manageBoardContent"><span uk-icon="icon: file-text"></span> 게시글 관리</a></li>
                    <li class="uk-margin-small-bottom" style="cursor:pointer;"><a href="/form/manageMyRecruit"><span uk-icon="icon: file-edit"></span> 나의 지원 관리</a></li>
                    <li class="uk-margin-small-bottom" style="cursor:pointer;"><a href="/form/manageRecruit"><span uk-icon="icon: check"></span> 지원자 관리</a></li>
                    <li class="uk-margin-small-bottom" style="cursor:pointer;"><a href="/form/editMember"><span uk-icon="icon: user"></span> 회원정보 수정</a></li>
                </ul>
                <li class="uk-nav-divider uk-margin-bottom uk-margin-top"></li>


                <li class="uk-nav-header uk-text-1 uk-margin-bottom">
                    Team 관리
                    <span uk-icon="icon: triangle-down; ratio: 0.8"></span>
                </li>
                <ul class="uk-text-center">
                    <li class="uk-margin-small-bottom" style="cursor:pointer;"><a href="/form/manageTeam"><span uk-icon="icon: users"></span> 나의 팀 관리</a></li>
                </ul>
                <li class="uk-nav-divider uk-margin-bottom uk-margin-top"></li>


                <ul class="uk-text-center">
                    <li class="uk-margin-small-right">
                        <span uk-tooltip="title: 홈으로; pos:bottom;" uk-icon="icon: home; ratio: 1.5" onclick="goHome()"></span>
                        <span uk-tooltip="title: 로그아웃; pos:bottom;" uk-icon="icon: sign-out; ratio: 1.5" onclick="logout()"></span>
                    </li>
                </ul>
            </ul>
        </div>
    </div>

</header>
<script>
    window.onload = function(){
        userInfoAndTokenCheck();
    }

    function userInfoAndTokenCheck(){
        let userName = document.getElementById("userName");
        let userId = document.getElementById("userId");

        let xhr = new XMLHttpRequest();
        let token = storage.get("accessToken");
        let url = "http://localhost:8080/my/me";
        let userInfos = ['loginId', 'name', 'id', 'teamId'];

        xhr.open('GET', url);
        xhr.setRequestHeader('Authorization', 'Bearer ' + token);
        xhr.responseType = 'json';
        xhr.send();
        xhr.onreadystatechange = function () {
            if(xhr.readyState == 4 && xhr.status == 200) {
                let data = xhr.response;
                storage.set('userLoginId', data[userInfos[0]]);
                storage.set('userName', data[userInfos[1]]);
                storage.set('userId', data[userInfos[2]]);

                if(data[userInfos[3]] !== 0){
                    storage.set('teamId', data[userInfos[3]]);
                }
                console.log(data);

                userName.innerText = data.name + " 님";
                userId.innerText = data.loginId;


            }else if(xhr.readyState == 4 && xhr.status == 401){
                // 토큰이 유효하지 않을 때
                reIssueToken();
            }
        };
    }

    // 토큰 재발행 요청
    function reIssueToken() {
        let xhr = new XMLHttpRequest();
        let accessToken = storage.get("accessToken");
        let refreshToken = storage.get("refreshToken");
        let url = "http://localhost:8080/token/reIssue";
        let param = "accessToken="+accessToken+"&refreshToken="+refreshToken+"&tokenType=Bearer";

        xhr.open('POST', url);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.responseType = 'json';
        xhr.send(param);
        xhr.onreadystatechange = function () {
            if(xhr.readyState == 4 && xhr.status == 200) {
                accessToken = xhr.response.accessToken;
                refreshToken = xhr.response.refreshToken;

                storage.set("accessToken", accessToken);
                storage.set("refreshToken", refreshToken);
                console.log("토근 재발급 완료?");

            }else if(xhr.readyState == 4 && xhr.status == 401){
                // 토큰이 유효하지 않을 때
                window.alert(xhr.response.message);
                window.location.href = "/";
            }
        };
    }

    // user정보 출력
    function userDataInput(key, value){
        var elements = document.querySelectorAll('[data-ibsnt-user="' + key + '"]');

        elements.forEach(function (domObj){
            domObj.innerHTML = value;
        });
    }

    // 로그아웃
    function logout(){

        UIkit.modal.confirm("로그아웃 하시겠습니까?", {
            labels: {
                cancel: '취소',
                ok: '확인'
            }
        }).then(function () {
            storage.removeAll();
            window.location.href = "/";
        });
    }

    // 홈으로
    function goHome(){
        window.location.href = "/form/contentList";
    }

</script>