<meta charset="UTF-8">

<!-- BootStrap CSS -->
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

<!-- UIkit CSS -->
<link th:href="@{/css/uikit-custom.css}" rel="stylesheet">
<link th:href="@{/css/uikit.css}" rel="stylesheet">
<link th:href="@{/css/uikit-rtl.css}" rel="stylesheet">

<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit-icons.min.js"></script>
<script type="text/javascript" th:src="@{/js/storage.js}"></script>

<!-- flatpickr CSS -->
<link th:href="@{/css/flatpickr.min.css}" rel="stylesheet">

<!-- flatpickr JS -->
<script type="text/javascript" th:src="@{/js/flatpickr.js}"></script>
<script type="text/javascript" th:src="@{/js/flatpickr.ko.js}"></script>

