<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/include/head.html">
    <title>TITLE</title>
</head>
<body>
<div th:include="/include/header.html"></div>

<div class="container">
    <div class="col-6">
        <h1>test chat room here</h1>
    </div>
    <div>
        <div id="msgArea" class="col">

        </div>
        <div class="col-6">
            <div class="input-group mb-3">
                <input type="text" id="msg" class="form-control">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="button-send" onclick="send()">전송</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6"></div>
</div>

</body>

<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>


<script type="text/javascript">

    let accessToken = storage.get("accessToken");
    let detail = storage.get("contentDetail");
    let url = "http://localhost:8080/board/" + detail;
    let xhr = new XMLHttpRequest();
    xhr.open('GET', url);
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    xhr.setRequestHeader('Authorization', 'Bearer ' + accessToken);
    xhr.responseType = 'json';
    xhr.send();

    xhr.onreadystatechange = function () {
        if(xhr.readyState == 4 && xhr.status == 200) {
            let data = xhr.response.chatRoom;
            console.log(data);
            connectSock(data);
        }
    };

    function connectSock(data){

        let roomId = data.id;
        let username = storage.get("userId");

        let sockJs = new SockJS("/stomp/chat");
        //1. SockJS를 내부에 들고있는 stomp를 내어줌
        let stomp = Stomp.over(sockJs);

        //2. connection이 맺어지면 실행
        stomp.connect({}, function (){
            console.log("STOMP Connection")

            //4. subscribe(path, callback)으로 메세지를 받을 수 있음
            stomp.subscribe("/sub/chat/room/" + roomId, function (chat) {
                let content = JSON.parse(chat.body);

                let writer = content.writer;
                let message = content.message;
                let str = '';

                if(writer === username){
                    str = "<div class='col-6'>";
                    str += "<div class='alert alert-secondary'>";
                    str += "<b>" + writer + " : " + message + "</b>";
                    str += "</div></div>";

                    let msgArea = document.querySelector("#msgArea");
                    msgArea.innerHTML = msgArea.innerHTML + str;
                }
                else{
                    str = "<div class='col-6'>";
                    str += "<div class='alert alert-warning'>";
                    str += "<b>" + writer + " : " + message + "</b>";
                    str += "</div></div>";

                    let msgArea = document.querySelector("#msgArea");
                    msgArea.innerHTML = msgArea.innerHTML + str;
                }

                let msgArea = document.querySelector("#msgArea");
                msgArea.innerHTML = msgArea.innerHTML + str;
            });

            //3. send(path, header, message)로 메세지를 보낼 수 있음
            stomp.send('/pub/chat/enter', {}, JSON.stringify({roomId: roomId, writer: username}))
        });

        function send(){

        }

        $("#button-send").on("click", function(e){
            let msg = document.getElementById("msg");

            console.log(username + ":" + msg.value);
            stomp.send('/pub/chat/message', {}, JSON.stringify({roomId: roomId, message: msg.value, writer: username}));
            msg.value = '';
        });
    }

</script>

</html>