<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="/include/head.html">
    <title>TITLE</title>
</head>
<body>

<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>로그인</h2>
    </div>

    <form>

        <div>
            <label for="loginId">로그인 ID</label>
            <input type="text" id="loginId" class="form-control">
        </div>
        <div>
            <label for="password">비밀번호</label>
            <input type="password" id="password" class="form-control">
        </div>

        <hr class="my-4">

        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" onclick="login()" type="button">로그인</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        type="button">취소
                </button>
            </div>
        </div>
    </form>
</div>

<script>
    function login() {
        let id = document.getElementById('loginId').value;
        let pw = document.getElementById('password').value;
        let params = 'loginId='+id+'&password='+pw;
        let url = "http://localhost:8080/token/login";

        let xhr = new XMLHttpRequest();
        xhr.open('POST', url);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.responseType = 'json';
        xhr.send(params);

        xhr.onreadystatechange = function () {
            if(xhr.readyState == 4 && xhr.status == 200) {
                accessToken = xhr.response.accessToken;
                refreshToken = xhr.response.refreshToken;
                storage.set("accessToken", accessToken);
                storage.set("refreshToken", refreshToken);

                UIkit.modal.alert('로그인 성공. 환영합니다.').then(function () {
                    window.location.href = "/form/contentList";
                });

            }else if(xhr.readyState == 4 && xhr.status == 400 ||
                xhr.readyState == 4 && xhr.status == 404){

                window.alert(xhr.response.message);
            }
        };
    }
</script>
</body>
</html>