<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/head.html">
    <title>TITLE</title>
</head>
<body>
<div th:include="include/header.html"></div>

<div class="uk-container-small uk-align-center">
    <div class="uk-margin-bottom">
        <span class="uk-margin-small-right" uk-icon="icon: chevron-left; ratio: 3" onclick="backPage()" style="cursor:pointer;"></span>
    </div>
    <div class="uk-card uk-card-default">
        <div class="uk-card-header uk-text-center">
            <p class="uk-text-2_5 uk-text-bold uk-margin-large-bottom">팀 관리 페이지</p>
            <div class="uk-margin-large-top" data-uk-grid="true">
                <div class="uk-text-left">
                    <span class="uk-margin-small-right" uk-icon="icon: happy; ratio: 1.5"></span>
                    <span class="uk-text-1_2 uk-text-bold " >팀 일정 등록 및 정보공유 등의 팀 관리를 할 수 있습니다.</span>
                </div>
            </div>
            <div class="uk-margin-top" data-uk-grid="true">
                <div class="uk-text-right">
                    <span class="uk-margin-small-right" uk-icon="icon: users; ratio: 1.5"></span>
                    <span class="uk-text-1_2 uk-text-bold " id="teamName"></span>
                </div>
            </div>
        </div>
        <div class="uk-card-body" id="contentBody">

            <ul class="uk-child-width-expand uk-margin-large-bottom" uk-tab="connect: #component-tab-left; animation: uk-animation-fade">
                <li class="uk-active">
                    <a href="#">팀일정 등록 및 삭제</a>
                </li>
                <li>
                    <a href="#">일정 완료설정</a>
                </li>
            </ul>
            <ul id="component-tab-left" class="uk-switcher">
                <li>
                    <div class="uk-flex uk-flex-left uk-margin-bottom">
                        <div class="uk-margin-right">
                            <canvas style="background-color: red" width="15" height="15"
                                    class="uk-padding-remove"></canvas>
                            <label>완료  </label><br>
                        </div>
                        <div>
                            <canvas style="background-color: blue" width="15" height="15"
                                    class="uk-padding-remove"></canvas>
                            <label>진행중</label>
                        </div>
                    </div>
                    <div id="calendar"></div>
                </li>
                <li>
                    <table class="uk-table uk-table-hover uk-table-divider uk-table-responsive uk-table-middle">
                        <thead class="uk-text-0_9">
                        <th class="uk-width-small uk-text-nowrap">시작 일자</th>
                        <th class="uk-width-small uk-text-nowrap">종료 일자</th>
                        <th class="uk-width-small uk-text-nowrap">참여 포지션</th>
                        <th class="uk-width-large uk-text-nowrap">일정 설명</th>
                        <th class="uk-width-small uk-text-nowrap">상태</th>
                        <th class="uk-width-small uk-text-nowrap">상태 변경</th>
                        </thead>
                        <tbody class="uk-text-0_8" id="taskList">

                        </tbody>
                    </table>
                </li>
            </ul>
        </div>
    </div>
    <div id="registerTask" uk-modal>
        <div class="uk-modal-dialog">
            <button class="uk-modal-close-default uk-text-right" type="button" uk-close></button>
            <div class="uk-modal-header">
                <h2 class="uk-modal-title">일정 등록</h2>
            </div>
            <div class="uk-modal-body">
                <table class="uk-table uk-text-center">
                    <tr>
                        <th class="uk-text-nowrap">일정 내용</th>
                        <td>
                            <input class="uk-input uk-form-width-xlarge uk-form-small" id="taskGoal"
                                   type="text" placeholder="일정 내용을 입력하세요." />
                        </td>
                    </tr>
                    <tr>
                        <th class="uk-text-nowrap">작업 포지션</th>
                        <td>
                            <form>
                                <fieldset class="uk-fieldset">
                                    <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid" id="positions">
                                        <label>
                                            <input class="uk-radio" type="radio" name="radio" id="allPos"> 모든 포지션
                                        </label>
                                    </div>
                                </fieldset>
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="uk-modal-footer uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close" type="button">취소</button>
                <button class="uk-button uk-button-primary" type="button" onclick="taskRegister()">저장</button>
            </div>
        </div>
    </div>
</div>
</body>

<script type="text/javascript">

    let calendar;
    const startDate = flatpickr("#startDate", {
        altInput: true,
        altFormat: "Y년 m월 d일",
        locale: "ko"
    });

    const endDate = flatpickr("#endDate", {
        altInput: true,
        altFormat: "Y년 m월 d일",
        locale: "ko"
    });

    let startdate;
    let enddate;



    let accessToken = storage.get("accessToken");
    let teamId = storage.get("teamId");
    let url = api + "/team/"+teamId;
    let xhr = new XMLHttpRequest();
    xhr.open('GET', url);
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    xhr.setRequestHeader('Authorization', 'Bearer ' + accessToken);
    xhr.responseType = 'json';
    xhr.send();
    xhr.onreadystatechange = function () {
        if(xhr.readyState == 4 && xhr.status == 200) {
            let taskList = document.getElementById("taskList");
            let teamName = document.getElementById("teamName");
            let data = JSON.parse(xhr.response.data);
            teamName.innerText = data.name;
            console.log(data);
            makeRegisterTaskPositions(data); // modal 안에 포지션 표시
            makeCalendar(data); // calendar 찍기
            addEvents(data); // calendar 안에 일정(event)찍기
            taskList.innerHTML += makeTaskList(data); // '일정 완료 설정 '탭 테이블 리스트 찍기
        }else {
            // UIkit.modal.alert("팀 데이터가 존재하지 않습니다.").then(function () {
            //     backPage();
            // });
        }
    };

    function backPage(){
        window.location.href = "/form/contentList";
    }


    function makeRegisterTaskPositions(data) {
        let positions = document.getElementById("positions");
        for (const position of data.positions) {
            let append = `
                <label class="uk-margin-small-right">
                    <input class="uk-radio" type="radio" name="radio" id="`+position.id+`">`+position.position+`
                </label>
            `;
            positions.innerHTML += append;
        }
    }

    function makeCalendar(){
        let calendarEl = document.getElementById('calendar');
        let today = new Date();
        let year = today.getFullYear();
        let month = ('0' + (today.getMonth() + 1)).slice(-2);
        let day = ('0' + today.getDate()).slice(-2);
        let dateString = year + '-' + month  + '-' + day;

        calendar = new FullCalendar.Calendar(calendarEl, {
            locale: 'ko',
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,listMonth,listWeek'
            },
            initialDate: dateString,
            navLinks: true,
            selectable: true,
            selectMirror: true,

            select: function(arg) {
                registerModal(arg);
            },
            eventClick: function(arg) {
                if(arg.event.backgroundColor !== 'red'){
                    if (confirm('선택한 일정을 삭제하시겠습니까?')) {
                        taskRemove(arg.event.id);
                        arg.event.remove();
                    }
                }
            },
            editable: true,
            dayMaxEvents: true, // allow "more" link when too many events
        });
        calendar.render();
    }

    function addEvents(data) {
        for (const task of data.tasks) {
            if(task.status === 0){ // 진행중
                calendar.addEvent({
                    id : task.id,
                    title: task.goal+'\t'+'|'+'\t'+task.position,
                    start: task.startdate,
                    end: task.enddate,
                });
            }else { // 완료
                calendar.addEvent({
                    id : task.id,
                    title: task.goal+'\t'+'|'+'\t'+task.position,
                    start: task.startdate,
                    end: task.enddate,
                    backgroundColor : 'red'
                });
            }
        }
    }

    function registerModal(arg){
        let registerTask = document.getElementById("registerTask");
        UIkit.modal(registerTask).show();

        startdate = arg.startStr+"T00:00:00";
        enddate = arg.endStr+"T00:00:00";
    }


    function taskRegister() {
        let taskGoal = document.getElementById("taskGoal");
        let positions = document.getElementById("positions");
        let accessToken = storage.get("accessToken");
        let url = api + "/team/task/register";
        let xhr = new XMLHttpRequest();
        let positionId;
        let positionName;
        for (const position of positions.children) {
            console.log("before check::" + position.children[0]);
            if(position.children[0].checked){
                console.log("is check::" + position.children[0]);
                if(position.children[0].id === 'allPos'){
                    positionId = 0;
                }else {
                    positionId = position.children[0].id;
                }
                positionName = position.innerText;
            }
        }
        console.log(positionId);
        console.log(positionName);
        if(positionId === undefined || positionName === undefined){
            UIkit.modal.alert("작업 포지션은 필수선택 사항입니다.").then(function () {
                window.location.href = "/form/manageTeam";
            });
        }else {
            let params = {
                "goal" : taskGoal.value,
                "status" : 0,
                "teamId" : storage.get("teamId"),
                "positionId" : positionId,
                "position" : positionName,
                "startdate" : startdate,
                "enddate" : enddate
            }
            xhr.open('POST', url);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.setRequestHeader('Authorization', 'Bearer ' + accessToken);
            xhr.responseType = 'json';
            xhr.send(JSON.stringify(params));
            xhr.onreadystatechange = function () {
                if(xhr.readyState === 4 && xhr.status === 200) {
                    UIkit.modal.alert(xhr.response.message).then(function () {
                        window.location.href = "/form/manageTeam";
                    });
                }else {
                    UIkit.modal.alert(xhr.response.message).then(function () {
                        window.location.href = "/form/manageTeam";
                    });
                }
            };
        }
    }

    function taskRemove(id) {
        let accessToken = storage.get("accessToken");
        let url = api + "/team/task/delete/"+id;
        let xhr = new XMLHttpRequest();

        xhr.open('DELETE', url);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.setRequestHeader('Authorization', 'Bearer ' + accessToken);
        xhr.responseType = 'json';
        xhr.send();
        xhr.onreadystatechange = function () {
            if(xhr.readyState === 4 && xhr.status === 200) {
                UIkit.modal.alert(xhr.response.message).then(function () {
                    window.location.href = "/form/manageTeam";
                });
            }else if(xhr.readyState === 4 && xhr.status === 401){
                reIssueToken();
            }else {
                UIkit.modal.alert(xhr.response.message).then(function () {
                    window.location.href = "/form/manageTeam";
                });
            }
        };

    }


    function updateStatus(id) {
        let accessToken = storage.get("accessToken");
        let url = api + "/team/task/update/"+id;
        let xhr = new XMLHttpRequest();

        xhr.open('GET', url);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.setRequestHeader('Authorization', 'Bearer ' + accessToken);
        xhr.responseType = 'json';
        xhr.send();
        xhr.onreadystatechange = function () {
            if(xhr.readyState === 4 && xhr.status === 200) {
                UIkit.modal.alert(xhr.response.message).then(function () {
                    window.location.href = "/form/manageTeam";
                });
            }else if(xhr.readyState === 4 && xhr.status === 401){
                reIssueToken();
            }else {
                UIkit.modal.alert(xhr.response.message).then(function () {
                    window.location.href = "/form/manageTeam";
                });
            }
        };
    }

</script>
</html>


